@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Note Keeper Application</h1>
    <p class="lead">Note | Edit | Share</p>
    <p class="lead">Keep your you notes safe here!.</p>
    <p class="lead">
        @Html.ActionLink("Add a Note here!", "AddNote")
    </p>
</div>
