<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccountDeleted</title>
</head>
<body>
    <hgroup>
        <h1>Deleted Successfully!</h1>
        <h3>Your Account deleted successfully.</h3>
        <h4>To sign In click on below link...</h4>
        <h4>@Html.ActionLink("Login", "Index", "Home")</h4>
    </hgroup>
</body>
</html>

