<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteSuccess</title>
</head>
<body>
    <hgroup>
        <h1>Deleted Successfully!</h1>
        <h3>Your Note deleted successfully.</h3>
        <h4>To add new Note click on below link...</h4>
        <h4>@Html.ActionLink("New Note", "AddNote", "Home")</h4>
    </hgroup>
</body>
</html>

