@if (Session["User"] != null)
{
    {

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Profile", "ViewProfile", "Home", routeValues: null, htmlAttributes: new { title = "Account" })
            </li>
            <li>
                @Html.ActionLink("Log Off","Logout","Account");
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
