<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <hgroup>
        <h1>Registered Successfully!</h1>
        <h3>Your registration with Note-Keeper done successfully.</h3>
        <h4>Click on below link...</h4>
        <h4>@Html.ActionLink("Home Page", "Index", "Home")</h4>
    </hgroup>
</body>
</html>

